*.bak
*.o
*.a
*.la
*.tmp
*.core
../*/
Makefile.qt.include
src/blockbuster/blockbuster
src/blockbuster/blockbuster.pro
src/blockbuster/moc*cpp
src/blockbuster/qrc*.cpp
src/blockbuster/sidecar/MovieCues.*
src/blockbuster/sidecar/common.h
src/blockbuster/sidecar/events.cpp
src/blockbuster/sidecar/events.h
src/blockbuster/sidecar/moc_MovieCues.cpp
src/blockbuster/sidecar/moc_RemoteControl.cpp
src/blockbuster/sidecar/moc_sidecar.cpp
src/blockbuster/sidecar/qrc_images.cpp
src/blockbuster/sidecar/settings.cpp
src/blockbuster/sidecar/settings.h
src/blockbuster/sidecar/sidecar
src/blockbuster/sidecar/ui_BlockbusterControl.h
src/blockbuster/sidecar/ui_InfoWindow.h
src/blockbuster/sidecar/ui_MovieCueWidget.h
src/blockbuster/sidecar/ui_blockbusterLaunchDialog.h
src/blockbuster/sidecar/ui_sidecar.h
src/blockbuster/ui_BlockbusterControl.h
src/blockbuster/ui_InfoWindow.h
src/blockbuster/ui_MovieCueWidget.h
src/boost/BOOSTDIR
src/libjpeg/jpeg-6b/
src/libpng/libpng-1.2.8/
src/libtiff/tiff-3.9.1/
src/lzolib/lzo-2.03/
src/mpegdir/lex.yy.c
src/mpegdir/lexer.c
src/mpegdir/mpeg
src/patchelf/patchelf-0.5/
src/pt/CPMANPAGES
src/pt/pt_gate_destroy.3
src/pt/pt_gate_init.3
src/pt/pt_gate_sync.3
src/pt/pt_pool_add_work.3
src/pt/pt_pool_destroy.3
src/pt/pt_pool_init.3
src/pt/pt_rw_destroy.3
src/pt/pt_rw_init.3
src/pt/pt_rw_read_lock.3
src/pt/pt_rw_read_unlock.3
src/pt/pt_rw_write_lock.3
src/pt/pt_rw_write_unlock.3
src/smapp/ifl2sm
src/smapp/img2sm
src/smapp/rename
src/smapp/sm2img
src/smapp/smcat
src/smapp/smevo
src/smapp/smmake
src/smapp/smquery
src/smapp/smtag
src/smapp/smtest
src/sndplay/stubsndplay
src/sndplay/test
src/tclap-1.2.1/tclap-1.2.1/
src/xzlib/xz-5.0.4/
src/zlib/zlib-1.2.8/
tests/argparse.pyc
tests/test_common.pyc
