<< HostProfile: mName=pw453, mHostName=rzthriller9, mReadOnly=0, mProfileFile=/g/g0/rcook/.sidecar/hostProfiles.cnf, mPort=5959, mVerbosity=0, mRsh=/usr/bin/ssh, mSetDisplay=1, mDisplay=:0, mBlockbusterPath=/usr/gapps/asciviz/blockbuster/dev/chaos_5_x86_64/bin/blockbuster, mAutoSidecarHost=1, mSidecarHost=rzthriller9, mPlay=0, mFullScreen=1, mShowControls=0, mUseDMX=0, mMpiFrameSync=0, mNoSmallWindows=1, mAutoBlockbusterPath=1 >>
