# TelepathLite computed DMX configuration file
# Fri Aug 29 14:42:53 2008
# Host: stagg
# DMX_DISPLAY: 2001
# Communication Type: GIGE		HPIC(slurm) | GIGE(pdsh) | HYBRID(pdsh)
# User: rcook
# Venue: ARMADILLO_ROOM
# Venue size, resolution: (4, 1, 1280, 2048)
virtual TelepathLite {
	display stagg1:0 1280x2048 @0x0;
	display stagg2:0 1280x2048 @1280x0;
	display stagg3:0 1280x2048 @2560x0;
	display stagg4:0 1280x2048 @3840x0;
}
